repl.c
qjscalc.c
out.c

*.a
*.o
*.out
*.d
*~
jscompress
unicode_gen
regexp_test
qjs
qjsc
run-test262

hello.c
hello_module.c
test_fib.c

examples/*.so
tests/*.so

.obj/
*.dSYM/
qjs-debug

run-test262-debug
run-test262-32

haohao*
hello*